<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BASE PAGE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">

    {% block style %}

    {% endblock %}
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12 px-0'>
                <nav class='navbar navbar-dark bg-warning navbar-expand'>
                    <a href="{% url 'home'%}" class='navbar-brand'>Logo</a>
                    <ul class='navbar navbar-nav mx-auto'>
                        <li class='nav-item'>
                            <a href="{% url 'home'%}" class='nav-link'>Home</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'app:about'%}" class='nav-link'>About</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'app:con'%}" class='nav-link'>Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>  
        <div class='row'>
            <div class='col-md-3 bg-dark  text-center py-4' style=''>
                <img src="{% static 'images/img4.jpg'%}" height='100' width='100' class='rounded-circle'>
                <div class='py-5 my-5 text-light'>
                    <p>View Profile</p>
                    <p>Change Password</p>
                    <p>Logout</p>
                </div>
            </div>
            <div class='col-md-9'>
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <!-- FOOTER -->
        <div class='row'>
            <div class='col-md-12 bg-warning py-4 text-center text-light'>
                <p>
                    &copy; | All right reserverd
                    Designed By:Your Name
                </p>
            </div>
        </div>
    </div>
</body>
</html>