{% extends "base.html" %}

{% block body %}

<h1>THIS IS A HOMEPAGE</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque excepturi fuga, repudiandae, doloremque modi, deleniti id rem nobis optio eius voluptatem assumenda fugiat minima corrupti sint consequuntur vel incidunt ullam.
</p>

{% endblock %}
